[submodule "include/SDL_libs/SDL"]
	path = include/SDL_libs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "include/SDL_libs/SDL_image"]
	path = include/SDL_libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "include/SDL_libs/SDL_ttf"]
	path = include/SDL_libs/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
